<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    android:sharedUserId="android.uid.system" 
    coreApp="true" 
    package="com.android.providers.settings">
    
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    
    <application 
        android:allowClearUserData="false" 
        android:label="@string/app_label" 
        android:process="system"
        android:backupAgent="SettingsBackupAgent" 
        android:killAfterRestore="false" 
        android:icon="@mipmap/ic_launcher_settings">
        
        <provider android:name="SettingsProvider" android:authorities="settings"
			android:multiprocess="false" 
            android:exported="true"
            android:writePermission="android.permission.WRITE_SETTINGS"
            android:initOrder="100" />
    </application>
</manifest>
